/**
 * Kim Clements
 * Styles
 */

 /**
 * Fonts
 */
@import url('https://fonts.googleapis.com/css?family=Lato');

/**
 * Vars and sanitize
 */
:root {
  --color-base: black;
  --color-link: teal;
  --color-cardbg: rgba(255, 255, 255, .7);
  --color-cardoutline: rgba(100,100,100,1);
  --font-base: 'Lato', sans-serif;
  --fontsize-primaryheading: 3rem;
  --fontsize-subheading: 2rem;
  --site-maxwidth: 120rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/**
 * Base styles
 */
:root {
  color: var(--color-base);
  font: normal 62.5%/1.6 var(--font-base);
}

body {
  font-size: 160%;
}

img {
  width: auto;
  max-width: 100%;
}

a {
  color: var(--color-link);
}

/**
 * Layout styles
 */
.site-container {
  width: auto;
  max-width: var(--site-maxwidth);
  margin: auto;
  padding: 0 2rem;
}

.site-header {
}

  .site-logo {
    padding: 2rem 0;
    text-align: center;
  }

  .site-nav {
  }

    .site-nav ul {
      display: flex;
      justify-content: center;
      list-style: none;
    }

    .site-nav a {
      display: inline-block;
      padding: 1rem;
    }

/**
 * Components
 */

/**
 * Card
 * For displaying a preview of work
 */
 .card {
   position: relative;
   overflow: hidden;
 }
   .card-image {
     width: 100%;
     transition: .25s ease;
   }

    .card-details-inner {
      padding: 2rem;
    }

    .card-details-heading {
      font-size: var(--fontsize-subheading);
    }

    /**
     * Card: Featured theme
     */
    @media (min-width: 31.25em) {
      .card.theme-featured .card-details-heading {
        font-size: var(--fontsize-primaryheading);
      }
    }

    /**
     * Card: Discoverable theme
     * Show details on :hover for non-touch devices
     */
    @media (pointer: fine) {
      .card.theme-discoverable .card-details,
      .card.theme-discoverable .card-details-inner {
        transition: .25s ease;
      }
      .card.theme-discoverable .card-details {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        transform: translateY(100%);
      }
      .card.theme-discoverable .card-details-inner {
        background-color: var(--color-cardbg);
      }
      .card.theme-discoverable:hover {
        border: .1rem solid var(--color-cardoutline);
      }
      .card.theme-discoverable:hover .card-image{
        filter: blur(.5rem);
        transform: scale(1.2);
      }
      .card.theme-discoverable:hover .card-details {
         transform: translateY(0);
      }
    }

.workgrid {
  display: flex;
  list-style: none;
  flex-flow: row wrap;
  overflow: hidden;
  margin: -1rem;
}

  .workgrid-item {
    flex: 1 1 40rem;
    margin: 1rem;
  }
  .workgrid-item:nth-child(1) {
    flex-basis: 100%;
  }
